version: "3.9"

services:
  api:
    build: ./api
    environment:
      - API_HOST=0.0.0.0
      - API_PORT=4000
      - API_ALLOWED_ORIGINS=${API_ALLOWED_ORIGINS:-http://localhost:5173,http://103.150.191.221:5173}
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    environment:
      - VITE_API_BASE_URL: http://103.150.191.221:4000
    depends_on:
      - api
    ports:
      - "5173:5173"
